body {
    background-image: url("image/elka.jpg");
    display: grid;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: grid;
    place-items: center;
    padding: 1em;
    margin: 10em auto;
    text-align: center;
    background-color: yellow;
    color: black;
    border: 5px solid rgb(244, 244, 248);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(246, 246, 248);
}

.enterv {
    margin: 2px;
    padding: 2px;
    width: clamp(10ch, 50%, 50ch);
    color: green;
    text-align: center;
}

.uname {
    margin: 5px;
    padding: 0px;
}

.pass {
    margin: 5px;
    padding: 0px;
}

.inblok {
    display: inline-block;
    text-align: center;
}

.label {
    display: inline-block;
}

.knopki {
    border: none;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #4ca8af;
}

.button2 {
    background-color: #af1e8b;
}

.zab {
    display: inline-block;
}